<!DOCTYPE html>
<html>
  <head>
    <style>
      .div {
        border-radius: 15px;
        padding: 12px;
        width: 397px;
        margin: 5% 40%;
        background: gainsboro;
      }
      input,
      button,
      p {
        font-size: 24px;
      }
    </style>
  </head>

  <body>
    <div class="div">
      <form id="form1">
        <input type="text" id="address" />
        <button>Search</button>
      </form>
      <p id="location"></p>
      <p id="forecast"></p>
      <p id="error"></p>
    </div>
    <script src="../script.js"></script>
  </body>
</html>